<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="nextjs"
             deploymentSecret="mhfqe1cqfiot73c9p03etm4has8kx77mwn31087lnsx"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
